.feed {
	padding-bottom: 70px;
	&__item {
		margin-top: 100px;
		display: flex;
		align-items: center;
		&:nth-child(2){
			margin-top: 70px;
		}
	}
	&__img {
		margin-right: 62px;
	}
	&__text {
		padding-right: 60px;
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 700;
		color: #0d0d0d;
	}
	&__count{
		font-size: 14px;
		font-weight: 300;
		color: #646464;
	}
	&__descr {
		margin-top: 14px;
		font-size: 16px;
		line-height: 1.2;
		font-weight: 300;
		color: #0d0d0d;
	}
}